project_id = ""

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://localhost"

[functions.thrivecart-webhook]
enabled = true
verify_jwt = false
import_map = "./functions/thrivecart-webhook/deno.json"
entrypoint = "./functions/thrivecart-webhook/index.ts"

[functions.thrivecart-topup]
verify_jwt = false

[functions.vdocipher-otp]
verify_jwt = false
